@charset "UTF-8";
/* CSS Document */

body
{
	background-color:#EFEFEF;
}

a
{
	text-decoration:none;
	font-size: 10px;
	color: #ADADAD;
}


.head
{
	position: relative;
	width: 100%;
	height: 45px;
	top: 0;
}

.logocon
{

	position: fixed;
	width: 100%;
	height: 65px;
	top:0;
	background: #EFEFEF;
	box-sizing:border-box;
	z-index:1000;
}


nav{
	width:100%;
	margin:auto;
	text-align:left;
}

nav ul{
	padding:0;
	margin:0;
	list-style: none;
}

nav li{
	position:relative;
	display:inline-block;
}

/*==============level 1==============*/
nav li a{
	display:block;
	width:250px;
	line-height:65px;
	color:#000000;
	text-decoration:none;
	text-align:center;
	
}

nav li a:hover{
	color: #C3D902;
}

/*==============level 2==============*/

/*li 往下層的ul都隱藏*/
nav li ul
{
	position: absolute;
	display: none;
	left: 0;
	margin: 0;
}

nav ul li:hover >ul
{
	display: inline-block;
	background: #EFEFEF;
}

.logo
{
	position: fixed;
	z-index: 10000000;
	text-align: center;
	width: 100%;
}

.logo img
{
	position: relative;
	width: 100%;
	opacity: 0.4;
}

.content
{
	position: relative;
	width: 3%;
	
	top: 10px;
	margin: auto;
		transition: 0.5s;
}


 .content:hover
{
	transform: scale(1.2);
}


.wrap
{
	width: 100%;
	
	margin: auto;
}



.hero
{
	width: 100%;
	height: 600px;
	float: left;
	background-color: white;
	text-align: center;
	overflow: hidden;
}

.hero img
{
	margin-top: -5%;
	width:100%;
}

.hero p
{
	margin: 300px auto;
}

header
{
	width: 80%;
	margin: auto;
	padding-top: 3%;
	overflow: hidden;
	box-sizing: border-box;
}



.title
{
	box-sizing: border-box;
	float: left;
	width:45%;
	height: 180px;
	padding-top: 30px;


}

.title h1
{
	text-align: left;
	display: block;
	width: 100%;
	margin: 0;
	font-size: 230%;
}


.tags
{
	float: left;
	width:25%;
	height: 180px;
	padding-top: 5px;
	box-sizing: border-box;
	z-index: -1;

}

#tag1
{
	position: relative;
	width: 60%;
	height:50px;
	
	box-sizing: border-box;
	bottom: 0;
	margin-left: 4%;
	border-radius: 30px;
	z-index: -1;
}

.detail
{
	box-sizing: border-box;
	float: left;
	width:30%;
	height: 200px;
	margin-right: -4px;
}

.bar
{
	background-color: #C3D902;
}
#bar1
{
	float: left;
	height: 45%;
	width: 2%;
	margin-top: 20px;
	border-radius: 10px;
	
}
.detail h3
{
	float: left;
	font-weight:normal;
	font-size: 110%;
	width: 90%;
	margin-left: 20px;
	line-height: 20px;
	margin-top: 30px;
	 white-space:nowrap;

}

section
{
width: 80%;
	margin: auto;
}

.description
{
	padding-top: 50px;
	box-sizing: border-box;
	display: block;
	width: 100%;
}


.bar2
{
	display: block;
	width: 100%;
	height: 5px;
	border-radius: 10px;
}

.description p
{
	box-sizing: border-box;
	margin-top: 30px;
	margin-bottom: 30px;
}


.imgs
{
	width: 100%;
	margin-top: 50px;
}

.imgs img
{
	width: 100%;
	margin-bottom: 50px;
}

.next,.previous
{
	position: fixed;
	margin-top: 25%;
	width: 130px;
	height: 100px;
	opacity: 0.1;
	
}

.next:hover, .previous:hover
{
	opacity: 0.8;
	color: #C3D902;
	background-color:#E6E6E6;
}

.next:hover #rarrow
{
	
	border-color: transparent #C3D902 #C3D902 transparent;
}
	 


.previous:hover #larrow
{
	border-color:    transparent transparent #C3D902 #C3D902;
}

.next
{
	right: 5px;
	text-align: center;
	
}

.next p
{
	position: relative;
}


.previous
{
	left: 5px;
	text-align: center;
}

.previous p
{
	position: relative;
	
}

#rarrow
{
	
   		margin: 15px auto;
		position: relative;
        border-right: 5px solid  #ADADAD; 
		border-bottom: 5px solid  #ADADAD;
        width: 20px; 
		height: 20px;
        transform: rotate(-45deg);
}



#larrow
{
	margin: 15px auto;
		position: relative;
        border-left: 5px solid  #ADADAD; 
		border-bottom: 5px solid  #ADADAD;
        width: 20px; 
		height: 20px;
        transform: rotate(45deg);
}
